.client-container{
    height: 33vw;
    background-color: transparent;
    font-family: 'Montserrat';
    z-index: 1;
    position: relative;
}

#forms{
  position: relative;
}


#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 0; /* if you use -1 you have to set to `"window"` the interactivity.detectsOn property */
}

.register{
    
    width: 33vw;
    display:flex;
    border: 1px solid inherit;
    border-radius: 5px;
    /* box-shadow: 1px 3px 10px #e9ecef; */
    background-color: inherit;
  }

  .register span{
    color: white;
  }
.form-container-alert{
    max-width: 90vw; 
  width: 80vw;
  margin-top: 1.5vw;
  display: flex;
  flex-direction: column;
  
}

.form-container-alert>  input {
    padding: .9em 1em;
    outline: 0;
    border-width: 0 0 2px;
    border-color: orange;
    margin-right: 10vw;
    font-family: 'Montserrat';
  }
.form-container-alert> input:focus{
    outline: none;
    border-color: white;
}
 
.form-container {
   max-width: 90vw; 
  width: 80vw;
  margin-top: 1.5vw;
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat';
}
.form-container >  input {
    padding: .9em 1em;
    outline: 0;
    border-width: 0 0 2px;
    border-color: orange;
    margin-right: 10vw;
    width: 80vw;
    font-family: 'Montserrat';
  }
.form-container> input:focus{
    outline: none;
    border-color: white;
}
  #form{
    max-width: 500px;
    width: 100vw;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    
  }

#form >  input {
  padding: .9em 1em;
  outline: 0;
  border-width: 0 0 2px;
  border-color: orange;
  font-family: 'Montserrat';
}

#form > input:focus{
  outline: none;
  border-color: white;
}

.buttons{
width:70vw;
display: flex;
justify-content: flex-end;
}
 .btn{
  background-color: orange;
  color: black;
  font-weight: 600;
  cursor: pointer;
  
    border: none;
  width: 15vw;
  height: 3vw;
  font-size: 1.3vw;
  font-family: 'Montserrat';
  transition: .3s ease-in;
}
.btn:hover{
  background-color: white;
  color: orange;
}
input[type="text"]
{
    background: transparent;
    color: white;
}
.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;
}

.register .col-1{
  margin: auto;
}

.register .col-2 {
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}



.form-container-alert p {
    width: 30vw;
    color: red;
    text-align: center;
    font-size: 0.8vw;
    font-weight: 600;
}

.form-header{
    display:flex;
    flex-direction: column;
    font-family: 'Montserrat';
    padding: 0 4vw;
    color: white;
}

.form-header-heading{
    font-size: 1.5vw;
    font-weight: bolder;
    margin-bottom: .5vw;
    margin-top: 1.7vw;
}

.form-heading-body{
    font-size: 1vw;
}

.form-header .form-header-heading span{
  color: orange;
}
@media screen and  (max-width:1000px){
  .client-container{
    height: fit-content;
    background-color: transparent;
    font-family: 'Montserrat';
    width: 100%;
    padding-bottom: 40px;
}
.register {
  width: 100%;
  display: flex;
  border: 1px solid inherit;
  border-radius: 5px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: inherit;
}


#form {
    max-width: inherit;
    width: 100%;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
}
.form-header-heading {
  font-size: 33px;
  font-weight: bolder;
  margin-bottom: 10px;
  margin-top: 12px;
}
.form-heading-body {
  font-size: 25px;
}
.flex {
  display: flex;
  gap: 0;
}
.register .col-1 {
  margin: auto;
  width: 100%;
}

.form-container {
  padding-top: 10px;
  gap: 5px;
  max-width: 90vw;
  width: 80vw;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
}
.form-container-alert> input {
  padding: 0.9em 1em;
  outline: 0;
  border-width: 0 0 2px;
  border-color: orange;
  margin-right: 0;
  font-family: 'Montserrat';
}
.buttons {
  padding-top: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn {
  background-color: orange;
  color: black;
  font-weight: 600;
  cursor: pointer;
  border: none;
  width: 223px;
  height: 32px;
  font-size: 21px;
  font-family: 'Montserrat';
  transition: .3s ease-in;
}
.form-container-alert p {
  padding-top: 5px;
  width: 100%;
  color: red;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
}

@media screen and  (max-width:900px){
  .client-container{
    height: fit-content;
    background-color: transparent;
    font-family: 'Montserrat';
    width: 100%;
    padding-bottom: 40px;
}
.register {
  width: 100%;
  display: flex;
  border: 1px solid inherit;
  border-radius: 5px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: inherit;
}


#form {
    max-width: inherit;
    width: 100%;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
}
.form-header-heading {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 10px;
  margin-top: 12px;
}
.form-heading-body {
  font-size: 20px;
}
.flex {
  display: flex;
  gap: 0;
}
.register .col-1 {
  margin: auto;
  width: 100%;
}

.form-container {
  padding-top: 10px;
  gap: 5px;
  max-width: 90vw;
  width: 80vw;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
}
.form-container-alert> input {
  padding: 0.9em 1em;
  outline: 0;
  border-width: 0 0 2px;
  border-color: orange;
  margin-right: 0;
  font-family: 'Montserrat';
}
.buttons {
  padding-top: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn {
  background-color: orange;
  color: black;
  font-weight: 600;
  cursor: pointer;
  border: none;
  width: 180px;
  height: 25px;
  font-size: 16px;
  font-family: 'Montserrat';
  transition: .3s ease-in;
}
.form-container-alert p {
  padding-top: 5px;
  width: 100%;
  color: red;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
}


@media screen and  (max-width:500px){
  .client-container{
    height: fit-content;
    background-color: transparent;
    font-family: 'Montserrat';
    width: 100%;
    padding-bottom: 40px;
}
.register {
  width: 100%;
  display: flex;
  border: 1px solid inherit;
  border-radius: 5px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: inherit;
}


#form {
    max-width: inherit;
    width: 100%;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
}
.form-header-heading {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 10px;
  margin-top: 12px;
}
.form-heading-body {
  font-size: 20px;
}
.flex {
  display: flex;
  gap: 0;
}
.register .col-1 {
  margin: auto;
  width: 100%;
}

.form-container {
  padding-top: 10px;
  gap: 5px;
  max-width: 90vw;
  width: 80vw;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
}
.form-container-alert> input {
  padding: 0.9em 1em;
  outline: 0;
  border-width: 0 0 2px;
  border-color: orange;
  margin-right: 0;
  font-family: 'Montserrat';
}
.buttons {
  padding-top: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn {
  background-color: orange;
  color: black;
  font-weight: 600;
  cursor: pointer;
  border: none;
  width: 180px;
  height: 25px;
  font-size: 16px;
  font-family: 'Montserrat';
  transition: .3s ease-in;
}
.form-container-alert p {
  padding-top: 5px;
  width: 100%;
  color: red;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
}


@media screen and  (max-width:400px){

  .client-container{
    height: fit-content;
    background-color: transparent;
    font-family: 'Montserrat';
    width: 100%;
    padding-bottom: 40px;
}

.register {
  width: 100%;
  display: flex;
  border: 1px solid inherit;
  border-radius: 5px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: inherit;
}


#form {
    max-width: inherit;
    width: 100%;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
}
.form-header-heading {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 10px;
  margin-top: 12px;
}
.form-heading-body {
  font-size: 20px;
}
.flex {
  display: flex;
  gap: 0;
}
.register .col-1 {
  margin: auto;
  width: 100%;
}

.form-container {
  padding-top: 10px;
  gap: 5px;
  max-width: 90vw;
  width: 80vw;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
}
.form-container-alert> input {
  padding: 0.9em 1em;
  outline: 0;
  border-width: 0 0 2px;
  border-color: orange;
  margin-right: 0;
  font-family: 'Montserrat';
}
.buttons {
  padding-top: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn {
  background-color: orange;
  color: black;
  font-weight: 600;
  cursor: pointer;
  border: none;
  width: 180px;
  height: 25px;
  font-size: 16px;
  font-family: 'Montserrat';
  transition: .3s ease-in;
}
.form-container-alert p {
  padding-top: 5px;
  width: 100%;
  color: red;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
}

@media screen and  (max-width:300px){
 
}
