.slider-container {
  overflow: hidden;
  background-color: #f3efe9;
  height: fit-content;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slidess {
  margin-top: 55px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slidess img {
  max-width: 80%;
  height: 300px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}
  
.slide-content {
  margin-top: 10px;
  text-align: center;
}

.slide-content h2{
  width: 100%;
  font-size: 29px;
  font-weight: 600;
}

.slide-content p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 35px;
}

.portfolio-headers h1 {
  color: black;
  text-align: center;
  font-size: 45px;
  font-weight: 600;
}

.portfolio-headers span{
  color: #d16a1d;
  font-weight: 800;
}

@media screen and (max-width: 576px) {
  .slide-content h2{
    font-size: 18px;
    font-weight: 600;
    width: 100%;
  }

  .portfolio-headers h1 {
   
    font-size: 28px;
    font-weight: 600;
  }

  .slider-container {
    margin: 0;
    height: fit-content;
  }
  
  .slidess {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .slidess img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 577px) and (max-width: 900px) {
  .slide-content h2{
    font-size: 18px;
    font-weight: 600;
    width: 100%;
  }

  .portfolio-headers h1 {
   
    font-size: 35px;
    font-weight: 700;
  }

  .slider-container {
    margin: 0;
    height: fit-content;
  }
  
  .slidess {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .slidess img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 900px) and (max-width: 1500px) {
  .slide-content h2{
    font-size: 23px;
    font-weight: 600;
    width: 100%;
  }

  .portfolio-headers h1 {
   
    font-size: 35px;
    font-weight: 600;
  }

  .slider-container {
    margin: 0;
    height: fit-content;
  }
  
  .slidess {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

}