@import url('./common/styles/commonClasses.css');
@import url('./common/styles/variables.css');

body{
  background-color: var(--background);
  color: var(--black);

}

.register-container{
  width:800px !important;
}

@keyframes gradient {
  100% {
    background-size: 3000px 1000px;
  }
}